@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Заказ оформлен!</h1>
        <br />
        <img src="~/images/products/candy.jpg" width="40%" class="rounded" />
        <br /><br />
        Сделанный вами заказ успешно принят. <br />
        Номер вашего заказа: @Model <br />
        <br />
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Вернуться в каталог</a>
    </div>
</div>