@model Candy

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Создать товар</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                <option disabled selected>--Выберите категорию--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="BrandId"></label>
            <select asp-for="BrandId" asp-items="ViewBag.BrandList" class="form-select">
                <option disabled selected>--Выберите бренд--</option>
            </select>
            <span asp-validation-for="BrandId" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Создать</button>
            <a asp-controller="Candy" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Назад
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput(){
            if(document.getElementById("uploadBox").value==""){
                Swal.fire({
                  icon: 'error',
                  title: 'Ошибка',
                  text: 'Пожалуйста, загрузите изображение!',
                });
                return false;
            }
            return true;
        }
    </script>
}